__tests__
coverage
node_modules
src
jest.config.js
docs
tsconfig.json
.eslintignore
.eslintrc.js
.gitignore
.huskyrc.json
.nvmrc
.lintstagedrc.json
.prettierrc.js
.tool-versions
.vscode
.cursor
Dockerfile*
docker-compose*
.github
makefile
webpack.config.js
*.tgz